.portfolio-item {
  box-sizing: border-box;
}

.portfolio-item::before,
.portfolio-item::after {
  box-sizing: inherit; /* border hover effect */
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
}

.portfolio-item::before {
  top: 0;
  left: 0;
}

.portfolio-item::after {
  bottom: 0;
  right: 0;
}

.portfolio-item:hover::before,
.portfolio-item:hover::after {
  height: 100%;
  width: 100%;
}

.portfolio-item:hover::before {
  border-top-color: #4aaaad;
  border-right-color: #4aaaad;
  transition: 
    width 0.125s, /* width first */ 
    height 0.125s 0.125s; /* then height */
}

.portfolio-item:hover::after {
  border-bottom-color: #4aaaad;
  border-left-color: #4aaaad;
  transition: 
    border-color 0s 0.25s, /*  Wait for ::before to finish before showing border */ 
    width 0.125s ease-out 0.25s,
    height 0.125s 0.375s;
}

.portfolio-item .banner {
  top: auto;
  bottom: 1rem;
  width: 100%; /* hover overrides */
  transition: 
    width 2s, 
    opacity 1.25s 0.125s; 
}

.portfolio-item:hover .banner {
  background: #ffffff;
  color: #4aaaad;
  width: 0;
  opacity: 0;
}

.portfolio-item .descrip {
  box-sizing: border-box;
  margin: 3px 3px 2px 2px;
  opacity: 0;
  background: #ffffff;
}

.portfolio-item:hover .descrip {
  opacity: 0.85;
  transition: opacity 1s 1.25s;
}

.portfolio-item .descrip h5 {
  margin-bottom: 0.5rem;
  font-weight: bolder;
}

.portfolio-item .descrip p {
  line-height: 1.5;
}
