body {
  color: #777777;
  background-image: url("./../images/darkness.png");
  /* Background pattern from Toptal Subtle Patterns */
  background-attachment: fixed;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100vh;
}

.my-max-width { max-width: 960px; }

.my-text-white   { color: #ffffff; }
.my-text-primary { color: #4aaaad; }

.my-text-family { font-family: "Georgia", Times, "Times New Roman", serif; }

.my-bg-white   { background: #ffffff; }
.my-bg-dark    { background: #666666; }
.my-bg-primary { background: #4aaaad; }

header {
  border-bottom: 2px solid #cccccc;
}

nav a:first-of-type {
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
}

nav a:last-of-type {
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

nav a:nth-child(n + 2) {
  border-left: 1px solid #777777;
}

nav a {
  color: #777777;  /* to override bootstrap's reboot*/
}

nav a.active {
  font-weight: bold;
  color: #4aaaad !important; /* to overirde bootstrap's reboot*/
}

nav a:hover:not(.active) {
  color: #ffffff;
  background: #4aaaad;
}

hr {
  border: 1px solid #cccccc;
}

footer {
  width: 100%;
  border-top: 5px solid #4aaaa5;
  font-size: 0.8rem;
}
